	<div class="top-section flex-center">
		<div class="flex-row section-content">
			<div class="phone-left">
				<img src="/images/rivephone.png" class="home-phone-img"/>
			</div>
			<div class="text1">
				<h2 class="section-title" style="font-family: 'Merriweather', serif;">Marco Pineda</h2>
				<h3 class="section-text">Creative Solutions + Design</h3> 
			</div>
		</div>
	</div>
	<!-- promote chrome extension section -->
	<div class="flex-center banner-1-section">
		<div class="flex-row section-content">
			<a name="0"></a>
			<!-- <a href="https://itunes.apple.com/us/app/ziploop/id708618885">
				<img src="https://files.ziploop.com/apple-app-store-button-png" class="app-store-img"/>
			</a> -->
			<a href="https://chrome.google.com/webstore/detail/ascii-finder/acmpfphgahhbmobjlgdjlnkficcoabjb?hl=en" target=" "><h3 class='text'>Download Marco's Apps Now</h3></a>
			<a href="https://chrome.google.com/webstore/detail/ascii-finder/acmpfphgahhbmobjlgdjlnkficcoabjb?hl=en" target=" ">
				<img src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_340x96.png"/>
			</a>
		</div>
	</div>
	<div class="receipts-section">
				<div class="flex-row section-content">
					<div class="text receipts-text">
						<h2 class="section-title">About</h2>
						<h3 class="section-text">Marco Pineda is a seasoned vet in the marketing and tech-startup space who is using his creativity to bring ideas to life in Austin, TX and emerging economies worldwide.</h3>
					</br>
						<p class="section-p">Find out <a href="http://sanitationproject.com" target=" ">More</a>.</p>
					</div>
					<div class="phone hidden-xs">
						<img src="/images/sp.png" class="receipts-phone-img"/>
					</div>
				</div>
			</div>
			<div class="rewards-section">
				<div class="flex-row section-content">
				<!-- 	<div class="phone-left"><img src="https://files.ziploop.com/website-rewards-phone-png" class="rewards-phone-img"/>
					</div> -->
					<div class="text rewards-text">
						<h2 class="section-title">Why Marco?</h2>
						<h3 class="section-text">Vision | Problem-Solver | Strategic</h3>
					</div>
				</div>
			</div>
		<!-- 	RESUME SECTION -->
			<div class="container trends-section">
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 hidden-xs ">
						<img src="/images/education.png" style="width: 100%;"/>
					</div>
					<div class="col-xs-6 education education-text">
						<h4>Web Developer Immersive</h4>
						 <p><span>Austin, TX | General Assembly</span></p>
					</div>
					<div class="col-xs-2">
						<h2></h>						
					</div>
				</div>
			<!-- 	second row -->
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 hidden-xs">
						<img class="resume" src="/images/education.png">
					</div>
					<div class="col-xs-6 education education-text">
						<h4>Kelley School of Business</h4>
						<p>
							<span>Bloomington, IN | Indiana University</span>
						</p>
					</div>
					<div class="col-xs-4">
													
					</div>
				</div> 
				<!-- third row -->

				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 hidden-xs">
						<img class="resume" src="/images/work.png">
					</div>
					<div class="col-xs-6 education education-text">
						<h4>7VP Charities, INC</h4>
						<p>
							<span>Austin, TX | Co-Founder</span>
						</p>
					</div>
					<div class="col-xs-4">
					<p class="date"></p>								
					</div>
				</div> 
				<!-- fourth row -->
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 hidden-xs">
						<img class="resume" src="/images/work.png">
					</div>
					<div class="col-xs-6 education education-text">
						<h4>Satoshi Talent, LLC</h4>
						<p>
							<span>Austin, TX | Business Dev</span>
						</p>
					</div>
					<div class="col-xs-4">
					<p class="date"></p>								
					</div>
				</div>
				<!-- fifth row -->
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 hidden-xs">
						<img class="resume" src="/images/work.png">
					</div>
					<div class="col-xs-6 education education-text">
						<h4>Bitcoinist.net</h4>
						<p>
							<span>Budapest, Hungary | Content Manager</span>
						</p>
					</div>
					<div class="col-xs-4">
					<p class="date"></p>								
					</div>
				</div>
				<!-- sixth row -->
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2 hidden-xs">
						<img class="resume" src="/images/work.png">
					</div>
					<div class="col-xs-6 education education-text">
						<h4>Rive Health, LLC</h4>
						<p>
							<span>Bloomington, IN| Chief Marketing Officer</span>
						</p>
					</div>
					<div class="col-xs-4">
					<p class="date"></p>
					</div>
				</div>
			</div>
			

				<!-- ADD AWARDS AND PROMOTIONS LOGOS -->
				<div class="flex-center brag-section container">
					<div class="row section-content">
					<div class="col-sm-2 hidden-xs"></div>	
					<div class="col-sm-2 hidden-xs">
						<a href="#">
							<img src="http://www.greatplacetowork.in/storage/ET.jpg" style="width:100%" class="brag-img"/>
						</a>
					</div>
					<div class="col-sm-4 hidden-xs"></div>
					<div class="col-sm-2 hidden-xs">
							<img src="http://bigthinkingapplied.com/content/images/2014/Aug/bloomberg-west_2.jpg" class="brag-img"/>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</div>
			<div class="flex-center bottom-section">
				<div class="flex-row section-content">
					<div class="text">
						<h2 class="section-title">Always Be Coding</h2>
						<h3 class="section-text">Anytime. Anywhere.</h3>
					</div>
				</div>
			</div>
			<div class="flex-center website-footer">
				<a id="bottom" class="smoothScroll"></a>
				<div class="flex-col section-content">
					<h2 class="section-title">Follow Marco!</h2>
					<div class="flex-row social-box">
						<a href="https://www.github.com/mapineda" target=" ">
							<img class='ghubpic' src="/images/gh64.png"/>
						</a>
						<a href="https://twitter.com/MarcoAPineda13" target="_blank">
							<img src="https://files.ziploop.com/twitter-png5"/>
						</a>
						<a href="https://www.linkedin.com/in/pinedamarco" target=" ">
							<img src="https://files.ziploop.com/linkedin-png"/>
						</a>
					</div>
					<div class="flex-row links">
						<a ui-sref-active="active" ui-sref="about" class="website-links" name="#0">ABOUT</a>
						<a href="https://www.github.com/mapineda" class="website-links">PORTFOLIO</a>
						<a href="/pdf/Pineda,Marco-Resume.pdf" class="website-links" download>RESUME</a>
						<a href="#" class="website-links">CONTACT</a>
					</div>
				</div>
			</div>