<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MP | Marco Pineda</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/portfolio.css">
	</head>
		<header>
			<h1>The Workshop</h1>
			<button>ESC</button>
		</header>
	<body>
		<div class='wrapper'>
			<div class="container">
				<ul class="rig columns-3">
					<li>
						<a href="./postcard.html" >
							<img src="../images/pc.png"/>
						</a>
						<h3>Post Card Form Example</h3>
						<p>Practice using forms...</p>
					</li>
		<!-- 	<li>
				<a href="./b2f.html"> <img src="./game.png" /></a>
				<h3>Choose Your Own Adventure</h3>
				<p>Simple JavaScript CYOA game...</p>
			</li> -->
					<li>
						<a href="/universe.html" >
							<img src="../images/universe.png" />
						</a>
						<h3>Universe</h3>
						<p>Build your own galaxy...Be on the lookout for galaxy2.o now in technicolor and 3D using webGL and Babylon.js</p>
					</li>
					<li>
						<a href="./1stgame.html"> 
							<img src="../images/1stgame.png"/>
						</a>
						<h3>BreakOut Game</h3>
						<p>First game using simple javascript</p>
					</li>
					<li>
						<a href="">
							<img src="">
						</a>
						<h3>Recycle Please</h3>
						<p>Recycle app for the City of Austin</p>
					</li>
					<li>
						<a href="">
							<img src="">
						</a>
						<h3></h3>
						<p></p>
					</li>
				</ul>
				
			</div>
			
		</div>


		
	</body>
</html>