<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MP | Marco Pineda</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../stylesheets/portfolio.css">
	</head>
		<header>
			<div class="container">
				<h1 class="headerTitle navbar-text pull-center">The Workshop</h1>
				<a href="../../index.html">
					<img src="../images/mp-logo.png" class="logo pull-right .navbar-brand"/>
				</a>
			</div>
		</header>
	<body>
		<div class='wrapper'>
			<div class="container">
				<ul class="rig columns-3">
					<li>
						<a href="https://itunes.apple.com/US/app/id991242619?mt=8?dev">
							<img src="https://lh3.googleusercontent.com/crD3Co8b87mNms1ChO8V8kw7dQHf_N_VVYXlW3a6-WabN5-UxN_Vj9__uVV9kBW8KV3z=w170">
						</a>
						<h3>ED!</h3>
						<p>UX focused, responsive, Ios micro-learning application for enterprise business solutions built with...</p>
					</li>
					<li>
						<a href="">
							<img src="http://www.ambafrance-ca.org/local/cache-vignettes/L400xH646/b9f7640e54975ccb-a6ddc.jpg">
						</a>
						<h3>Rainforestpartnership.org</h3>
						<p>Web page featured in the United Nations Climate Change Conference COPA21 Paris 2015 built using HTML5, SAAS, CSS3.</p>
					</li>

					<!-- row 1 -->
					<li>
						<a href="https://open-austin.github.io/recycling-atx/">
							<img src="../images/recycle-atx.png">
						</a>
						<h3>Recycle Please</h3>
						<p>Recycle app for the City of Austin built using ReactJS on the front-end and Postgres on the back-end, hosted on Github pages.</p>
					</li>
					<li>
						<a href="../views/1stgame.html"> 
							<img src="../images/1stgame.png"/>
						</a>
						<h3>BreakOut Game</h3>
						<p>First game using simple javascript</p>
					</li>
					<li>
						<a href="https://github.com/mapineda/bjwglapp" >
							<img src="../images/universe.png" />
						</a>
						<h3>Universe</h3>
						<p>Built using WebGL and Babylon.js</p>
					</li>
					<!-- row 2 -->
					<li>
						<a href="../views/postcard.html" >
							<img src="../images/pc.png"/>
						</a>
						<h3>Post Card Form Example</h3>
						<p>Practice using forms...</p>
					</li>
					<li>
						<a href="">
							<img src="">
						</a>
						<h3></h3>
						<p></p>
					</li>
						<li>
						<a href="">
							<img src="">
						</a>
						<h3></h3>
						<p></p>
					</li>
					<!-- row 3 -->
					<li>
						<a href="">
							<img src="">
						</a>
						<h3></h3>
						<p></p>
					</li>
						<li>
						<a href="">
							<img src="">
						</a>
						<h3></h3>
						<p></p>
					</li>
						<li>
						<a href="">
							<img src="">
						</a>
						<h3></h3>
						<p></p>
					</li>
				</ul>
				
			</div>
			
		</div>


		
	</body>
</html>