body {
	background: url(http://www.wix.com/blog/file/2010/06/Textured-background.jpg);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 200;
}

.logo {
  display: block-inline;
  opacity: 0.8;
  width: 130px;
  height: 100px;
}

.headerTitle {
	color: white;
	text-shadow: 2px 2px 4px #000000;

}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	font-weight: 400;
	margin: 0 0 20px;
	text-align: center;
	/*text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;*/
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
   margin: 0 auto;
}

.nav li {
  display: inline;
   margin: 0 auto;
}


a {
	color: #08c;
}
a:hover {
	text-decoration: none;
}

hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 25px 0;
	clear: both;
}

.centered {
	text-align: center;
}
.clear {
	clear: both;
}

/* Header
========================================================================================================== */
.global-header {
	width: 100%;
	background: #444;
	overflow: auto;
}
.global-header p {
	display: inline-block;
	color: #999;
	font-size: .85em;
}
.global-header p.brand {
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
}
.global-header p.brand strong {
	font-weight: 700;
}
.global-header p.brand a {
	display: inline-block;
	color: #fff;
	margin: 11px 0 0;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
.global-header p.brand a:hover {
	color: #fff;
}
.global-header p.home{
	float: right;
}
.global-header p.home a {
	display: inline-block;
	padding: 15px;
	background: #000;
	color: #fff;
	text-decoration: none;
}
.global-header p.home a:hover {
	background: #08c;
}

/* Content
========================================================================================================== */
.wrapper {
	width: 100%;
	padding: 30px 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

/* Media Queries
========================================================================================================== */
@media (max-width: 1199px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}
@media (max-width: 992px) {
	h1 {
		font-size: 3em;
	}
}
@media (max-width: 768px) {
	h1 {
		font-size: 2em;
	}
}
@media (max-width: 480px) {
}




ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.navtainer {
	color: white;
}
ul.rig li img {
	max-width: 90%;
	height: auto;
	margin: 4px 0 20px 14px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: 2em;
	line-height: 1.5em;
	color: black;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}